.productCard .textpart{
    transition: transform .3s ease-out;

}

.productCard:hover .textPart {
    transform: translateY(-1rem);
}

.productCard:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;;
}